[Desktop Entry]
Encoding=UTF-8
Name=Link to Close
Type=Link
URL=https://www.facebook.com/photo.php?fbid=260099761038608&set=picfp.100011157581703.260099754371942&type=3&theater#
Icon=text-html
